@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    /*width: 100%;*/
    height: auto;
}

textarea {
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999999999;
    background-color: white;
    border-bottom: 1px solid #9b9a9a;
}

.header > .header-box {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 4rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #9b9a9a;
}

.header > .header-box > .header-left {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.header > .header-box > .header-left > .language {
    margin: 0 0.75rem 0 0.75rem;
    width: 5.5rem;
    cursor: pointer;
    max-height: 1.5rem;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid #9b9a9a;
    border-radius: 8px;
    position: absolute;
    overflow: hidden;
    vertical-align: top;
}

.header > .header-box > .header-left > .language > * {
    width: 100%;
    font-size: 12px;
}

.header > .header-box > .header-left > .language > .korea {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header > .header-box > .header-left > .language > .korea > .up {
    padding-left: 0.25rem;
}

.header > .header-box > .header-left > .language > .korea > .down {
    padding-left: 0.25rem;
}

.header > .header-box > .header-left > .language > .korea > .korea-option {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.header > .header-box > .header-left > .language > .korea > .korea-option > * {
    padding-left: 0.25rem;
}

.header > .header-box > .header-left > .language > .english {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.header > .header-box > .header-left > .language > .english > * {
    padding-left: 0.25rem;

}

.header > .header-box > .header-left > .sns {
    margin-left: 7rem;
}

.header > .header-box > .header-left > .sns > .facebook {
}

.header > .header-box > .header-left > .sns > .facebook > a > img {
    width: 30px;
    height: 30px;
}

.header > .header-box > .header-left > .sns > .instagram > a > img {
    width: 30px;
    height: 30px;
}

.header > .header-box > .header-right {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #9b9a9a;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: end;


}

.header > .header-box > .header-right > * {
    padding: 0 0.5rem;
    text-align: center;
    cursor: pointer;
}

.header > .header-box > .header-right > .home {
    border-right: 1px solid #9b9a9a;
}

.header > .header-box > .header-right > .siteMap {
    border-right: 1px solid #9b9a9a;
}

.header > .nav {
    /*width: 100%;*/
}

.header > .nav > .nav-box {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    position: relative;

}


.header > .nav > .nav-box > h1 {
    float: left;
    width: 162px;
    height: 89px;
    display: inline-block;
}

.header > .nav > .nav-box > .nav-title {
    width: 1076px;
    float: left;

}

.header > .nav > .nav-box > .nav-title:after {
    display: block;
    clear: both;
}

.header > .nav > .nav-box > .nav-title > ul {
    text-align: center;
    margin-left: 60px;
}

.header > .nav > .nav-box > .nav-title > ul > li {

    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 33px;
    height: 89px;
    line-height: 89px;
    font-size: 17px;
    color: #303030;
    transition: all 0.3s;
}

.header > .nav > .nav-box > .nav-title > ul > li:first-child {
    margin: 0 33px 0 0;
}

.header > .nav > .nav-box > .nav-title > ul > li > a {
    transition: all 0.2s;
}

.header > .nav > .nav-box > .nav-title > ul > li a:hover {
    color: #c40f39;
    transition: all 0.3s;
}

.header > .nav > .nav-box > .nav-title > ul > li > ul {
    display: none;
    position: absolute;
    left: -78px;
    top: 100%;
    z-index: 100;
    width: 180px;
    padding: 12px 25px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.header > .nav > .nav-box > .nav-title > ul > li:first-child {
    margin: 0 33px 0 0;
}

.header > .nav > .nav-box > .nav-title > ul > li:last-child {
    margin: 0 0 0 33px;
}

.header > .nav > .nav-box > .nav-title > ul > li > ul > li {
    border-bottom: 1px solid #e1e1e1;
    /*font-size: 14px;*/
    /*height: 50px;*/
    /*color: #303030;*/
    line-height: 89px;
    font-size: 17px;
    color: #303030;
}

.header > .nav > .nav-box > .nav-title > ul > li > ul > li > a {
    display: block;
    height: 49px;
    line-height: 49px;
    font-size: 14px;
    color: #6e6e6e;
    transition: all 0.3s;
}

.header > .nav > .nav-box > .search {
    float: right;
    width: 162px;
}

.header > .nav > .nav-box > .search > a {
    float: right;
    margin-right: 15px;
    margin-top: 36px;
}

.header > .nav > .nav-box > .search > .hambuger-menu {
    margin-top: 36px;
    float: right;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 19px;
    height: 18px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 8px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span :nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active span :nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span :nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}


.header > .nav > .nav-box > .all-menu {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 89px;
    width: 100%;
    overflow: hidden;
    display: none;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0.5s ease, transform 0.5s ease;
}

.header > .nav > .nav-box > .all-menu.active {
    display: block;
    visibility: visible;
    max-height: 460px;
    transform: translateY(0);
}


.header > .nav > .nav-box > .all-menu > .menu-box {
    float: left;
    width: 12.66%;
    padding: 50px 2%;
    height: 360px;
    box-shadow: -1px 0px 0px #e5e4e4 inset;
}

.header > .nav > .nav-box > .all-menu > .menu-box > h2 {
    font-size: 21px;
    height: 50px;
    margin-bottom: 20px;
    color: #303030;
    font-weight: 500;
}

.header > .nav > .nav-box > .all-menu > .menu-box > h2:after {
    display: block;
    content: "";
    width: 19px;
    height: 2px;
    margin: 20px 0;
    background: #c40f39;
}

.header > .nav > .nav-box > .all-menu > .menu-box > ul {

}

.header > .nav > .nav-box > .all-menu > .menu-box > ul > li {
    margin-bottom: 15px;
}

.header > .nav > .nav-box > .all-menu > .menu-box > ul > li > a {
    cursor: pointer;
    display: block;
    font-size: 17px;
    color: #6e6e6e;
    font-weight: 400;
}

.header > .nav > .nav-box > .all-menu > .menu-box > ul > li > a:hover {
    color: #c40f39;
    transition: all 0.3s;
}


.visual {
    width: 100%;
    height: 492px;
    padding-top: 160px;
    overflow: hidden;
    position: relative;
    background: url("http://www.monami.com/images/main/visual1.jpg") no-repeat center;
    /*background-image: url("http://www.monami.com/images/main/visual1.jpg");*/
    /*object-fit: cover;*/
    /*background-repeat: no-repeat;*/
}


.visual > .textarea {
    position: absolute;
    color: white;
    height: 652px;
    margin-left: 100px;
}

.visual > .textarea > .write1::before {
    display: block;
    content: "";
    width: 80px;
    height: 1px;
    background: #fff;
    margin: 157px 0 10px 0;
}

.visual > .textarea > .write1 {
    font-size: 50px;
    line-height: 120%;
    font-weight: 200;
}

.visual > .textarea > .write2 {
    color: #e1e1e1;
    font-size: 15px;
    line-height: 140%;
    font-weight: 300;
}

.container {
    width: 100%;
    height: auto;
    padding-top: 75px;
}

.container > .container-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > .container-box > .container-box-up {
    width: 1200px;
    margin: 12px 0 22px 0;
    /*align-items: ;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container > .container-box > .container-box-up > .left {
    width: 392px;
    height: 360px;
    margin-right: 22px;
}

.container > .container-box > .container-box-up > .left > .sub-title {
    margin-bottom: 36px;
}

.container > .container-box > .container-box-up > .left > .sub-title > span {
    height: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
    line-height: 120%;
}

.container > .container-box > .container-box-up > .left > .sub-title > span:after {
    display: block;
    content: "";
    width: 20px;
    height: 3.5px;
    margin: 10px 0;
    background: #c40f39;
}

.container > .container-box > .container-box-up > .left > .sub-title > div {
    font-size: 13px;
    color: #6e6e6e;
    margin-top: 10px;
}

.container > .container-box > .container-box-up > .left > .item {
    /*height: 205px;*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container > .container-box > .container-box-up > .left > .item > .panner{
    width: 360px;
    height: 180px;
    position: absolute;
    color: white;
    background-color: #c40f39;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}



.container > .container-box > .container-box-up > .left > .item > .panner > .plus,
.container > .container-box > .container-box-up > .left > .item > .panner > .plus span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.container > .container-box > .container-box-up > .left > .item > .panner > .plus {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.container > .container-box > .container-box-up > .left > .item > .panner > .plus span {
    position: absolute;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;

}

.container > .container-box > .container-box-up > .left > .item > .panner > .plus span:nth-of-type(1) {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    display: inline-block;
}

.container > .container-box > .container-box-up > .left > .item > .panner > .plus span:nth-of-type(2) {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    display: inline-block;
}

.container > .container-box > .container-box-up > .right {
    width: 786px;
    height: 360px;
    align-items: center;
    display: flex;
    /*flex-direction: ;*/
    justify-content: center;
}

.container > .container-box > .container-box-up > .right > .item {
    /*width: 100%;*/
    /*height: 100%;*/
    align-items: center;
    display: flex;
    /*flex-direction: ;*/
    justify-content: center;
}

.container > .container-box > .container-box-up > .right > .item > .panner {
    position: absolute;
    width: 760px;
    height: 340px;
    color: white;
    background-color: #c40f39;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container > .container-box > .container-box-up > .left > .item > .panner > .plus,
.container > .container-box > .container-box-up > .left > .item > .panner > .plus span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.container > .container-box > .container-box-up > .right > .item > .panner > .plus {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.container > .container-box > .container-box-up > .right > .item > .panner > .plus span {
    position: absolute;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
}

.container > .container-box > .container-box-up > .right > .item > .panner > .plus span:nth-of-type(1) {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    display: inline-block;
}

.container > .container-box > .container-box-up > .right > .item > .panner > .plus span:nth-of-type(2) {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    display: inline-block;
}


.container > .container-box > .container-box-down {
    width: 1200px;
    margin-bottom: 80px;
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container > .container-box > .container-box-down > .item {
    align-items: center;
    display: flex;
    /*flex-direction: ;*/
    justify-content: center;
}

.container > .container-box > .container-box-down > .item-one {
    width: 392px;
    height: 292px;
}

.container > .container-box > .container-box-down > .item-two {
    width: 450px;
    height: 439px;

}

.container > .container-box > .container-box-down > .item-three {
    width: 312px;
    height: 292px;
}

.container > .container-box > .container-box-down > .item-one > .panner {
    position: absolute;
    width: 360px;
    height: 270px;
    color: white;
    background-color: #c40f39;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.container > .container-box > .container-box-down > .item-two > .panner {
    position: absolute;
    width: 420px;
    height: 400px;
    color: white;
    background-color: #c40f39;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.container > .container-box > .container-box-down > .item-three > .panner {
    position: absolute;
    width: 280px;
    height: 250px;
    color: white;
    background-color: #c40f39;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.container > .container-box > .container-box-down > .item > .panner > .plus,
.container > .container-box > .container-box-down > .item > .panner > .plus span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.container > .container-box > .container-box-down > .item > .panner > .plus {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 20px;

}

.container > .container-box > .container-box-down > .item > .panner > .plus span {
    position: absolute;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
}

.container > .container-box > .container-box-down > .item > .panner > .plus span:nth-of-type(1) {

}

.container > .container-box > .container-box-down > .item > .panner > .plus span:nth-of-type(1) {
    transform: rotate(90deg);
}


.slide {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding-bottom: 70px;
}

.slide > .slide-title {
    margin-top: 50px;
    text-align: center;
}

.slide > .slide-title > .sub-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
    line-height: 120%;
}

.slide > .slide-title > .sub-title:after {
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 10px auto;
    background: #c40f39;
}

.slide > .slide-title > .content {
    color: #555;
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    font-size: 13.5px;
    font-weight: normal;
    margin-bottom: 35px;
}

.slide > .slide-title > .item {
    display: flex;
    flex-direction: row;

}


.slide > .slide-title > .item li:nth-of-type(2) {
    margin-left: 5px;
}

.slide > .slide-title > .item li:nth-of-type(3) {
    margin: 0 5px;
}

.slide > .slide-title > .item > li > a {
    display: block;
    width: 153px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #898989;
    border: 2px solid #bcbcbc;
}

.slide > .slide-box {
    padding: 50px 0;
    width: 100%;

    overflow: hidden;
    /*border-bottom: 1px dotted black;*/
}

.slide > .slide-box > .slide-ul {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translate(0, 0);
}

.slide > .slide-box > .slide-ul > .slide-li {
    width: 266px;
    height: 492px;
    margin: 0 5px;
    user-select: none;
}

.slide > .slide-box > .slide-ul > .slide-li > a {
    width: 100%;
    height: 100%;
    position: relative;
}


.slide > .slide-box > .slide-ul > .slide-li > a > img {
    width: 266px;
    height: 392px;
    display: block;
}

.slide > .slide-box > .slide-ul > .slide-li > a > .item-content {
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slide > .slide-box > .slide-ul > .slide-li > a > .item-content > .item-category {
    margin: 33px 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #b3b3b3;
    padding-left: 25px;
}

.slide > .slide-box > .slide-ul > .slide-li > a > .item-content > .item-name {
    font-family: 'Montserrat';
    font-size: 15px;
    color: #000;
    font-weight: 600;
    padding-left: 25px;
}

.slide > .finger-icon {
    position: relative;
    top: -36px;
    width: 850px;
    height: 68.8px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.slide > .finger-icon > .middle {
    width: 100px;
    height: 68.8px;
    top: 20px;
    position: relative;

    text-align: center;
    background-color: #eee;
}

.slide > .finger-icon > .middle > div {
    color: #555;
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.video {
    display: table;
    width: 100%;
    height: 570px;
    text-align: center;
    background: url("http://www.monami.com/images/main/bg_video.jpg") no-repeat center;
    background-attachment: fixed;
    /*width: 1263px;*/
    /*height: 711px;*/
}

.video > video {
    width: 100% !important;
    min-height: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
    margin: 0 0 0 0;
}

.new {
    /*!*align-items: ;*!*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*!*justify-content: ;*!*/
    /*width: 100%;*/
    /*height: 360px;*/
    /*padding: 0 38px;*/
    /*border-bottom: 1px solid #ddd;*/
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    height: 355px;
}

.new > .new-box {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.new > .new-box > .left {
    width: 480px;
    padding: 20px 30px 0 0;
    border-right: 1px solid #ddd;
    float: left;

}

.new > .new-box > .left > .new-name {
    /*align-items: ;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new > .new-box > .left > .new-name > .name-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 120%;
}

.new > .new-box > .left > .new-name > .name-title:after {
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 5px 0 0;
    background: #c40f39;
}

.new > .new-box > .left > .new-name > .more {
    height: 16px;
    font-size: 11px;
    color: #3d3e38;
    letter-spacing: 1px;
    border-bottom: 1px solid #3d3e38;
}

.new > .new-box > .left > .headlight {
    margin: 15px 0;
    /*align-items: ;*/
    display: flex;
    flex-direction: row;
    /*justify-content: ;*/
    border-bottom: 2px solid #bbb;
}

.new > .new-box > .left > .headlight > .img {
    width: 164px;
    height: 116px;

    margin-bottom: 15px;
}

.new > .new-box > .left > .headlight > .item {
    display: inline-block;
    margin-left: 25px;
    width: 90%;
}

.new > .new-box > .left > .headlight > .item > .title {
    width: 250px;
    text-overflow: ellipsis;
    font-size: 21px;
    color: #000;
    margin-bottom: 5px;
}

.new > .new-box > .left > .headlight > .item > .content {
    width: 250px;
    max-height: 54px;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;

}

.new > .new-box > .left > .headlight > .item > .time {
    float: right;
}

.new > .new-box > .left > .item > .item-ul > .item-li {
    width: 100%;
    color: #555;
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    font-size: 13.5px;
    font-weight: normal;
    display: inline-block;
}

.new > .new-box > .left > .item > .item-ul > .item-li > a {
    float: left;
}

.new > .new-box > .left > .item > .item-ul > .item-li > span {
    float: right;
}

.new > .new-box > .middle {
    float: left;

    border-right: 1px solid #ddd;
    width: 349px;
    height: 360px;
    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    background: url("http://www.monami.com/images/main/inquiry_bg.jpg") no-repeat;
}

.new > .new-box > .middle > .title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new > .new-box > .middle > .title > .img {
    padding-top: 76px;
    padding-bottom: 30px;

}

.new > .new-box > .middle > .title > .main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 120%;
}

.new > .new-box > .middle > .title > .main-title:after {
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 10px auto;
    background: #c40f39;
}

.new > .new-box > .middle > .title > .sub-content {
    color: #555;
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    font-size: 13.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 33px;
}

.new > .new-box > .middle > .a-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new > .new-box > .middle > .a-button > a {
    width: 167px;
    height: 35px;
    border: 2px solid #c40f39;
    color: #c40f39;
    font-size: 13.5px;
    text-align: center;
    line-height: 35px;
}

.new > .new-box > .middle > .a-button > a:hover {
    background-color: #c40f39;
    color: white;
    transition: background-color 0.3s ease;
}

.new > .new-box > .right {
    float: left;

    border-right: 1px solid #ddd;
}

.fam-link {
    display: block;
    padding: 45px 0;
    width: 1400px;
    margin: 0 auto;
}

.fam-link > ul > {
    overflow: hidden;
}

.fam-link > ul > li:nth-of-type(1) {
    float: left;
    margin-right: 50px;
}
.fam-link > ul > li:nth-of-type(2) {
    float: left;
    margin-right: 50px;
}
.fam-link > ul > li:nth-of-type(3) {
    float: left;
    margin-right: 50px;
}
.fam-link > ul > li > a {
    display: block;
    padding: 1px;
    transition: all 0.3s ease-in-out;
}

.fam-link > ul > li > a > img {
    border: 1px solid #ddd;
    vertical-align: middle;
}

.fam-link > ul > li > a > img:hover {
    border: 1px solid #c40f39;
}

footer {
    background-color: black;
    width: 100%;
    position: relative;
    padding: 60px 0 65px;
    display: block;
}

footer > .foot {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;

}
footer > .foot:after{
    display: block;
    content: "";
    clear: both;
}
footer > .foot > .lift {
    width: 100%;
    height: 32px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #555;
}

footer > .foot > .lift > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > .foot > .lift > ul > li > a {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    font-size: 13.5px;
    font-weight: normal;
}

footer > .foot > .lift > ul > li:nth-of-type(1) {
    background: url("http://www.monami.com/images/common/fm_bar.gif") no-repeat right center;
    padding-right: 11px;
    margin-right: 10px;

}

footer > .foot > .lift > ul > li:nth-of-type(2) {
    background: url("http://www.monami.com/images/common/fm_bar.gif") no-repeat right center;
    padding-right: 11px;
    margin-right: 10px;

}

footer > .foot > .drop {
    width: 100%;
    padding-top: 25px;
    /*align-items: start;*/
    /*display: flex;*/
    /*flex-direction: row;*/

}

footer > .foot > .drop > .left {
    float: left;
    margin-right: 40px;
}

footer > .foot > .drop > .left > .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

footer > .foot > .drop > .left > .content {
    width: 580px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

footer > .foot > .drop > .left > .content > span {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 3px;
}

footer > .foot > .drop > .left > p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

footer > .foot > .drop > .middle {
    float: left;

}

footer > .foot > .drop > .middle > .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

footer > .foot > .drop > .middle > .contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}


footer > .foot > .drop > .right {
    float: right;
}

footer > .foot > .drop > .right > a {
    display: block;
    padding: 0 13px;
    width: 99px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.4);
    background: url("http://www.monami.com/images/common/family_arr.png") no-repeat 95% center;
}

footer > .foot > .drop > .right > ul {
    position: relative;
    top: -324px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

footer > .foot > .drop > .right > .open {
    max-height: 500px;
}

footer > .foot > .drop > .right > ul > li {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

footer > .foot > .drop > .right > ul > li > a {
    display: block;
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}