<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://www.monami.com/images/common/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/main.css}">
    <title>모나미 사이트 클론</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script defer th:src="@{/resources/scripts/main.js}"></script>
</head>
<body>
<header class="header">
    <div class="header-box">
        <div class="header-left">
            <div class="language">
            <span class="korea">
                <span class="korea-option">
                    <img src="/resources/images/korea24x24.png" alt="">
                    <span>KOR</span>
                </span>
                <span class="up" hidden><b>∧</b></span>
                <span class="down"><b>∨</b></span>
            </span>
                <span class="english" hidden>
                <img src="/resources/images/united-states24x24.png" alt="">
                <span>ENG</span>
            </span>
            </div>
            <div class="sns">
        <span class="facebook">
            <a href="#">
                <img src="http://www.monami.com/images/common/sns_facebook.gif" alt="페이스북">
            </a>
        </span>
                <span class="instagram">
            <a href="#">
                <img src="http://www.monami.com/images/common/sns_insta.gif" alt="인스타그램">
            </a>
        </span>
            </div>
        </div>
        <div class="header-right">
            <span class="home">HOME</span>
            <span class="siteMap">SITE MAP</span>
            <span class="contactUs">CONTACT US</span>
        </div>
    </div>
    <nav class="nav">
        <div class="nav-box">
            <h1><img src="http://www.monami.com/images/common/logo.jpg" alt=""></h1>
            <div class="nav-title">
                <ul class="main-ul">
                    <li class="main-li" style="width: 90px">
                        <a href="">모나미소개</a>
                        <ul class="sub-ul">
                            <li><a href="">CEO 메시지</a></li>
                            <li><a href="">회사정보</a></li>
                            <li><a href="">회사연혁</a></li>
                            <li><a href="">윤리강령</a></li>
                            <li><a href="">투자정보</a></li>
                            <li><a href="">CI</a></li>
                            <li><a href="">채용정보</a></li>
                            <li><a href="">찾아오시는 길</a></li>

                        </ul>
                    </li>
                    <li style="width: 90px">
                        <a href="">모나미제품</a>
                        <ul class="sub-ul">
                            <li><a href="">펜</a></li>
                            <li><a href="">마카</a></li>
                            <li><a href="">형광펜</a></li>
                            <li><a href="">미술용품</a></li>
                            <li><a href="">기타</a></li>
                            <li><a href="">카탈로그</a></li>
                        </ul>
                    </li>
                    <li style="width: 130px">
                        <a href="">NEWS & VIDEO</a>
                        <ul class="sub-ul">
                            <li><a href="">보도자료</a></li>
                            <li><a href="">동영상자료</a></li>
                        </ul>
                    </li>
                    <li style="width: 130px">
                        <a href="">모나미 미술대회</a>
                        <ul class="sub-ul">
                            <li><a href="">미술대회 소개</a></li>
                            <li><a href="">수상작 발표</a></li>
                        </ul>
                    </li>
                    <li style="width: 70px">
                        <a href="">고객지원</a>
                        <ul class="sub-ul">
                            <li><a href="">자주묻는질문</a></li>
                            <li><a href="">문의하기</a></li>
                            <li><a href="">이벤트</a></li>
                        </ul>
                    </li>
                    <li style="width: 130px">
                        <a href="">기업 구매 / 개발</a>
                        <ul class="sub-ul">
                            <li><a href="">대량 구매 문의</a></li>
                            <li><a href="">기업 및 단체 구매</a></li>
                            <li><a href="">산업용 맞춤 제품개발</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <a href="#">
                    <img src="http://www.monami.com/images/common/btn_search.gif" alt="">
                </a>
                <div class="hambuger-menu menu-trigger">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </div>
            </div>
            <div class="all-menu">
                <div class="menu-box">
                    <h2>모나미소개</h2>
                    <ul>
                        <li><a href="">CEO 메시지</a></li>
                        <li><a href="">회사정보</a></li>
                        <li><a href="">회사연혁</a></li>
                        <li><a href="">윤리강령</a></li>
                        <li><a href="">투자정보</a></li>
                        <li><a href="">CI</a></li>
                        <li><a href="">채용정보</a></li>
                        <li><a href="">찾아오시는 길</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>모나미제품</h2>
                    <ul>
                        <li><a href="">펜</a></li>
                        <li><a href="">마카</a></li>
                        <li><a href="">형광펜</a></li>
                        <li><a href="">미술용품</a></li>
                        <li><a href="">기타</a></li>
                        <li><a href="">카탈로그</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>NEWS & VIDEO</h2>
                    <ul>
                        <li><a href="">보도자료</a></li>
                        <li><a href="">동영상자료</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>모나미 미술대회</h2>
                    <ul>
                        <li><a href="">미술대회 소개</a></li>
                        <li><a href="">수상작 발표</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>고객지원</h2>
                    <ul>
                        <li><a href="">자주묻는 질문</a></li>
                        <li><a href="">문의하기</a></li>
                        <li><a href="">이벤트</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>기업 구매/ 개발</h2>
                    <ul>
                        <li><a href="">대량 구매 문의</a></li>
                        <li><a href="">기업 및 단체 구매</a></li>
                        <li><a href="">산업용 맞춤 제품 개발</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="visual">
    <div class="textarea">
        <div class="write1">
            어쩌면 삶은
            <br>
            인생이라는 종이 위에
            <br>
            써 내려가는
            <br>
            펜의 기록 같습니다.
            <br>
        </div>
        <br>
        <div class="write2">
            그중에서도 지우고 싶지 않은 기록이 있습니다.
            <br>
            모나미는 언제나 당신의 행복한 기록과 함께 합니다.
        </div>
    </div>
</div>


</body>
</html>