<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://www.monami.com/images/common/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/main.css}">
    <title>모나미 사이트 클론</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script defer th:src="@{/resources/scripts/main.js}"></script>
</head>
<body>
<header class="header">
    <div class="header-box">
        <div class="header-left">
            <div class="language">
            <span class="korea">
                <span class="korea-option">
                    <img src="/resources/images/korea24x24.png" alt="">
                    <span>KOR</span>
                </span>
                <span class="up" hidden><b>∧</b></span>
                <span class="down"><b>∨</b></span>
            </span>
                <span class="english" hidden>
                <img src="/resources/images/united-states24x24.png" alt="">
                <span>ENG</span>
            </span>
            </div>
            <div class="sns">
        <span class="facebook">
            <a href="#">
                <img src="http://www.monami.com/images/common/sns_facebook.gif" alt="페이스북">
            </a>
        </span>
                <span class="instagram">
            <a href="#">
                <img src="http://www.monami.com/images/common/sns_insta.gif" alt="인스타그램">
            </a>
        </span>
            </div>
        </div>
        <div class="header-right">
            <span class="home">HOME</span>
            <span class="siteMap">SITE MAP</span>
            <span class="contactUs">CONTACT US</span>
        </div>
    </div>
    <nav class="nav">
        <div class="nav-box">
            <h1><img src="http://www.monami.com/images/common/logo.jpg" alt=""></h1>
            <div class="nav-title">
                <ul class="main-ul">
                    <li class="main-li" style="width: 90px">
                        <a href="">모나미소개</a>
                        <ul class="sub-ul">
                            <li><a href="">CEO 메시지</a></li>
                            <li><a href="">회사정보</a></li>
                            <li><a href="">회사연혁</a></li>
                            <li><a href="">윤리강령</a></li>
                            <li><a href="">투자정보</a></li>
                            <li><a href="">CI</a></li>
                            <li><a href="">채용정보</a></li>
                            <li><a href="">찾아오시는 길</a></li>

                        </ul>
                    </li>
                    <li style="width: 90px">
                        <a href="">모나미제품</a>
                        <ul class="sub-ul">
                            <li><a href="">펜</a></li>
                            <li><a href="">마카</a></li>
                            <li><a href="">형광펜</a></li>
                            <li><a href="">미술용품</a></li>
                            <li><a href="">기타</a></li>
                            <li><a href="">카탈로그</a></li>
                        </ul>
                    </li>
                    <li style="width: 130px">
                        <a href="">NEWS & VIDEO</a>
                        <ul class="sub-ul">
                            <li><a href="">보도자료</a></li>
                            <li><a href="">동영상자료</a></li>
                        </ul>
                    </li>
                    <li style="width: 130px">
                        <a href="">모나미 미술대회</a>
                        <ul class="sub-ul">
                            <li><a href="">미술대회 소개</a></li>
                            <li><a href="">수상작 발표</a></li>
                        </ul>
                    </li>
                    <li style="width: 70px">
                        <a href="">고객지원</a>
                        <ul class="sub-ul">
                            <li><a href="">자주묻는질문</a></li>
                            <li><a href="">문의하기</a></li>
                            <li><a href="">이벤트</a></li>
                        </ul>
                    </li>
                    <li style="width: 130px">
                        <a href="">기업 구매 / 개발</a>
                        <ul class="sub-ul">
                            <li><a href="">대량 구매 문의</a></li>
                            <li><a href="">기업 및 단체 구매</a></li>
                            <li><a href="">산업용 맞춤 제품개발</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <div class="hambuger-menu menu-trigger">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </div>
                <a href="#">
                    <img src="http://www.monami.com/images/common/btn_search.gif" alt="">
                </a>
            </div>
            <div class="all-menu">
                <div class="menu-box">
                    <h2>모나미소개</h2>
                    <ul>
                        <li><a href="">CEO 메시지</a></li>
                        <li><a href="">회사정보</a></li>
                        <li><a href="">회사연혁</a></li>
                        <li><a href="">윤리강령</a></li>
                        <li><a href="">투자정보</a></li>
                        <li><a href="">CI</a></li>
                        <li><a href="">채용정보</a></li>
                        <li><a href="">찾아오시는 길</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>모나미제품</h2>
                    <ul>
                        <li><a href="">펜</a></li>
                        <li><a href="">마카</a></li>
                        <li><a href="">형광펜</a></li>
                        <li><a href="">미술용품</a></li>
                        <li><a href="">기타</a></li>
                        <li><a href="">카탈로그</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>NEWS & VIDEO</h2>
                    <ul>
                        <li><a href="">보도자료</a></li>
                        <li><a href="">동영상자료</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>모나미 미술대회</h2>
                    <ul>
                        <li><a href="">미술대회 소개</a></li>
                        <li><a href="">수상작 발표</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>고객지원</h2>
                    <ul>
                        <li><a href="">자주묻는 질문</a></li>
                        <li><a href="">문의하기</a></li>
                        <li><a href="">이벤트</a></li>
                    </ul>
                </div>
                <div class="menu-box">
                    <h2>기업 구매/ 개발</h2>
                    <ul>
                        <li><a href="">대량 구매 문의</a></li>
                        <li><a href="">기업 및 단체 구매</a></li>
                        <li><a href="">산업용 맞춤 제품 개발</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="visual">
    <div class="textarea">
        <div class="write1">
            어쩌면 삶은
            <br>
            인생이라는 종이 위에
            <br>
            써 내려가는
            <br>
            펜의 기록 같습니다.
            <br>
        </div>
        <br>
        <div class="write2">
            그중에서도 지우고 싶지 않은 기록이 있습니다.
            <br>
            모나미는 언제나 당신의 행복한 기록과 함께 합니다.
        </div>
    </div>
</div>

<div class="container">
    <div class="container-box">
        <div class="container-box-up">
            <div class="left">
                <div class="sub-title">
                    <span>
                    NEW<br>ARRIVALS
                    </span>
                    <div>가장 먼저 만나는 설레는 기다림</div>
                </div>
                <a href="" class="item">
                    <div>
                        <img src="/resources/images/newImage/그리픽스%20팝%20샤프.jpg" alt=""
                             style="width:392px; height:205px">
                    </div>
                    <div class="panner plate">
                        <span>SHARP</span>그리픽스 팝 샤프
                        <div class="plus">
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </a>
            </div>
            <a href="" class="right">
                <div class="item">
                    <div>
                        <img src="/resources/images/newImage/지퀀스.jpg" alt="" style="width:786px; height:360px">
                    </div>
                    <div class="panner">
                        <span>NOTE</span>지퀀스
                        <div class="plus">
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="container-box-down">
            <a href="" class="item item-one">
                <div>
                    <img src="/resources/images/newImage/그랑데%20형광팬.jpg" alt="" style="width:392px; height:292px">
                </div>
                <div class="panner">
                    <span>HIGHLIGHTER</span>그랑데 형광펜 604
                    <div class="plus">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </a>
            <a href="" class="item item-two">
                <div>
                    <img src="/resources/images/newImage/만년필.jpg" alt="" style="width:450px; height:439px">
                </div>
                <div class="panner">
                    <span>FOUNTAIN PEN</span>153 아이디 만년필
                    <div class="plus">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </a>
            <a href="" class="item item-three">
                <div>
                    <img src="/resources/images/newImage/클리키.jpg" alt="" style="width:314px; height:292px">
                </div>
                <div class="panner">
                    <span>SHARP</span>클리키
                    <div class="plus">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="slide">
        <div class="slide-title">
            <div class="sub-title">BEST PRODUCT</div>
            <div class="content">언제 어디서나 생활 속에 함께하는 모나미</div>
            <ul class="item">
                <li><a href="" style="border:2px solid #c40f39">펜</a></li>
                <li><a href="">마카</a></li>
                <li><a href="">형광펜</a></li>
                <li><a href="">미술용품</a></li>
            </ul>
        </div>
        <div class="slide-box">
            <ul class="slide-ul">
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/FX700-FX700.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">FX 700</div>
                            <div class="item-name">FX 700</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/만년필-153아이디만년필.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">만년필</div>
                            <div class="item-name">153 아이디 만년필</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/유성볼팬-제니스7.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">유성볼펜</div>
                            <div class="item-name">제니스7</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/만년필-모나미%20병잉크.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">만년필</div>
                            <div class="item-name">모나미 병잉크</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/FX%20153-%20FX%20153.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">FX 153</div>
                            <div class="item-name">FX 153</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/만년필-153%20네오%20만년필%20EF.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">만년필</div>
                            <div class="item-name">153 네오 만년필</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/유성볼팬-FX%20ZETA%20C3.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">유성볼펜</div>
                            <div class="item-name">FX ZETA C3</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/유성볼팬-FX%20ZETA.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">유성볼펜</div>
                            <div class="item-name">FX ZETA</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/유성볼펜-153%20스틱.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">유성볼펜</div>
                            <div class="item-name">153 스틱</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/유성볼펜-BP%20153.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">유성볼펜</div>
                            <div class="item-name">BP 153</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-60주년%20프러스펜%203000데스크펜%20스페셜%20에디션.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">60주년 프러스펜 3000데스크펜 스페셜 에디션</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-153%20골드.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">153 골드</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-153%20네오.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">153 네오</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-153%20리스펙트.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">153 리스펙트</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-153%20블랙%20&%20화이트.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">153 블랙&화이트</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-153%20아이디%20샤프.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">153 아이디</div>
                        </div>
                    </a>
                </li>
                <li class="slide-li">
                    <a href="">
                        <img src="/resources/images/slideimage/프리미엄펜-153%20아이디.jpg" alt="">
                        <div class="item-content">
                            <div class="item-category">프리미엄펜</div>
                            <div class="item-name">153 아이디 샤프</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="finger-icon">
            <span class="left">
                <img src="http://www.monami.com/images/main/p_arr1.gif" alt="">
            </span>
            <div class="middle">
                <img src="http://www.monami.com/images/main/p_cursor.gif" alt="">
                <div>DRAG & SCROLL</div>
            </div>
            <span class="right">
                <img src="http://www.monami.com/images/main/p_arr2.gif" alt="">
            </span>
        </div>

    </div>
</div>
<div class="video">
    <video loop>
        <source src="http://dfrkkcv2hg1jc.cloudfront.net/data/video/monami_brand_web_60.mp4" type="video/mp4">
        <source src="http://dfrkkcv2hg1jc.cloudfront.net/data/video/monami_brand_web_60.ogv" type="video/ogv">
    </video>
</div>

<div class="new">
    <div class="new-box">
    <div class="left">
        <div class="new-name">
            <div class="name-title">MONAMI NEWS</div>
            <a class="more" href="">MORE</a>
        </div>
        <div class="headlight">
            <div class="img">
                <img src="/resources/images/advertising/광고내용사진.jpg" alt="">
            </div>
            <div class="item">
                <div class="title">모나미 모나르데, 초등생...</div>
                <div class="content">모나미 모나르떼, 초등생 대상 미술 인문학 오프라인 특강 가져- 아주복지재단과 함...</div>
                <div class="time">2023-08-21</div>
            </div>
        </div>
        <div class="item">
            <ul class="item-ul">
                <li class="item-li">
                    <a href="">- 모나미, 탄생화.탄생석.별자리 담은 '프러스펜3000 3색' 출시</a><span class="time">2023-08-14</span>
                </li>
                <li class="item-li">
                    <a href="">- 모나미, 프리미엄펜 '153 리스펙트 리파인' 론칭 패키지 출시</a><span class="time">2023-08-07</span>
                </li>
                <li class="item-li">
                    <a href="">- 모나미 '제2회 프러스펜 아트 콘테스트' 수상작 발표</a><span class="time">2023-08-03</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="middle">
        <div class="title">
            <div class="img"><img src="http://www.monami.com/images/main/inquiry_tit_bg.png" alt=""></div>
            <div class="main-title">INQUIRY</div>
            <div class="sub-content">언제나 소중한 의견에 귀 기울이겠습니다.<br>궁금한 사항은 문의하세요.</div>
        </div>
        <div class="a-button">
        <a class="a" href="">INQUIRY NOW</a>
        </div>
    </div>
    <div class="right">
        <img src="http://www.monami.com/images/main/shop_bg.png" alt="">
    </div>
    </div>
</div>

<div class="fam-link">
    <ul>
        <li><a href=""><img src="http://www.monami.com/images/main/fam_img1.jpg" alt=""></a></li>
        <li><a href=""><img src="http://www.monami.com/images/main/fam_img6.jpg" alt=""></a></li>
        <li><a href=""><img src="http://www.monami.com/images/main/fam_img5.jpg" alt=""></a></li>
        <li><a href=""><img src="http://www.monami.com/images/main/fam_img2.jpg" alt=""></a></li>
    </ul>
</div>

<footer>
    <div class="foot">
        <div class="lift">
            <div><img src="http://www.monami.com/images/common/foot_logo.jpg" alt=""></div>
            <ul>
                <li><a href="">회사소개</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">이메일무단수집거부</a></li>
            </ul>
        </div>
        <div class="drop">
        <span class="left">
            <div class="title">INFO</div>
            <div class="content">ADDRESS : 경기도 용인시 수지구 손곡로 17<span>|</span>TEL : 031-216-0153<span>|</span>FAX : 031-270-5154
            </div>
            <p>COPYRIGHT(C) 2017 MONAMI.CO.LTD.ALL RIGHTS RESERVED.</p>
        </span>
            <span class="middle">
            <div class="title">CUSTOMER CENTER</div>
            <div class="contact">080-022-0153</div>
        </span>
            <span class="right">
            <a href="" class="family-site">FAMILY SITE</a>
            <ul class="open">
                <li><a href="">모나미몰</a></li>
                <li><a href="">모나르떼</a></li>
                <li><a href="">모나미 컨셉스토어</a></li>
                <li><a href="">주식회사 항소</a></li>
                <li><a href="">모나미 스테이션</a></li>
                <li><a href="">모나미 미술대회</a></li>
                <li><a href="">모나미 기업서비스</a></li>
                <li><a href="">모나미코스메틱</a></li>
            </ul>
        </span>
        </div>
    </div>
</footer>


</body>
</html>